body {
	background-image: url(assets/images/herringbone.png);
	margin: 0;
	padding: 0;
	font-family: arial; .
	line-height: 175%;
	text-align: justify;
	height: auto;
	
	
}


/*get to know me text*/
h1 {
	color: #4aaaa5;
	text-align: left;
	font-size: 28px;
	letter-spacing: 2px;
	
}


/*gettoknowmeandborderbottom*/
.containergettoknow {
	border-bottom: 1px solid #777777;
	padding-top: -100px;
	margin-bottom: 50px;


}






nav {
	float: right;
	padding-right: 300px;
	padding-top: 25px;

	
}


nav ul {
	margin: 0;
	padding: 0;
	list-style: none;

}

nav li {
	float: left;
	margin-left: 70px;
	padding-top: 5px;
	letter-spacing: 1.5px;



}

nav a {
	color: #777777;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover {
	color: #000;
}



p, p2, p3 {
	font-size: 24px;

}

nav a::before {
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	
}


/*nav and logo*/
.headercontainer {
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	background: #ffffff;
	border-bottom: 4px solid #777777;
	padding: none;


}

header::after {
	content: '';
	display: table;
	clear: both;
}


/*logo*/
.boxlogo {
	content: url(assets/images/namelogo.jpg);
	height: 70px;
	width: 220px;
	float: left;
	margin: 0;
	padding-left: 200px;



	
}

/*get to know me, selfie, and bio*/
.containermain {
	
	margin: 0 auto;
	width: 960px;
	height: 600px;
	background-color: #ffffff;
	padding: 50px;
	margin-bottom: 50px;
	margin-top: 50px
}

/*got input form from https://www.w3schools.com/howto/howto_css_contact_form.asp*/


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

	



#footerteal {
	background-color: #4aaaa5;
	height: 20px;
	
	bottom: 50px;
	width: 100%;

}

#footer {
	background-color: #666666;
	height: 50px;
	bottom: 0;
	width: 100%;
	
}

