

body {
	background-image: url(images/herringbone.png);
	margin: 0;
	padding: 0;
	font-family: arial; .
	line-height: 195%;
	text-align: justify;
	height: auto;
}

/*nav and logo*/
.headercontainer {
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	background: #ffffff;
	border-bottom: 4px solid #777777;
	padding: none;
	
	
}


nav {
	float: right;
	margin-right: 300px;
	/* padding-right: 300px; */
	
	


	
}


/* nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;

} */
 
nav li {
	float: left;
	/* margin-left: 98px; */
	padding-top: 5px;
	 letter-spacing: 1.5px; 
	 list-style: none;
	 margin-left: 20px;
	 
	 




} 


nav a {
	color: #777777;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover {
	color: #000;
}




nav a::before {
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	
}


}

header::after {
	content: '';
	display: table;
	clear: both;
}


/*logo*/
.boxlogo {
	content: url(images/namelogo.jpg);
	height: 70px;
	width: 220px;
	float: left;
	margin: 0;
	padding-left: 200px;


}


p {
	font-size: 22px;

}



/*get to know me text*/
h1 {
	color: #4aaaa5;
	text-align: left;
	font-size: 28px;
	letter-spacing: 1px;

	
}


/*gettoknowmeandborderbottom*/
.containergettoknow {
	border-bottom: 1px solid #777777;
	padding-top: -50px;


}

/*selfie*/
.image2 {
	height: 300px;
	width: 300px;
	float: left;
	padding-top: 30px;
	padding-left: 0px; 
	padding-right: 30px;
	padding-bottom: 10px;
}




.containermain {
		
	margin: 0 auto;
	width: 960px;
	background-color: #ffffff;
	padding: 20px;
	margin-bottom: 50px;
	margin-top: 50px;



}



#footerteal {
	background-color: #4aaaa5;
	height: 20px;
	
	bottom: 50px;
	width: 1000px;
	
}

#footer {
	background-color: #666666;
	height: 50px;
	bottom: 0;
	width: 1000px;
	
}


	
/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 640px) {

.headercontainer {
	width: 600px;
}

.containermain {
		
	margin: 0 auto;
	width: 400px;
	background-color: #ffffff;
	padding: 5px;
	margin-bottom: 50px;
	margin-top: 5px;	
	margin-left: 40px;
		
}

#main-bio {
	padding-left: 5px;
	padding-right: 5px;

}

/*selfie*/
.image2 {
	height: 350px;
	width: 350px;
	float: none;
	padding-top: 30px;
	padding-left: 25px; 
	padding-right: 30px;
	padding-bottom: 10px;
}



/*get to know me text*/
h1 {
	text-align: center;

	
}


/*logo*/
.boxlogo {
	content: url(images/namelogo.jpg);
	height: 70px;
	width: 220px;
	float: left;
	margin-left: -50px;


}

nav {
	margin-right: none;

}
}


/* // Medium devices (tablets, 768px and up) */
@media  (max-width : 768px) { 



	}


/* // Large devices (desktops, 992px and up) */
@media (max-width : 980px) {}
